# Ignore Virtual Environments
plant_env/
venv/
.env/

# Ignore Jupyter Lab workspace and checkpoints
.ipynb_checkpoints/
.jupyter/
__pycache__/

# macOS system files
.DS_Store

# Raspberry Pi Files
.Image_Holder
.Temp_Staging_Area
